@import "./reset.css";
@import url("https://fonts.googleapis.com/css2?family=Jua&family=Noto+Sans+KR:wght@500;700;900&family=Nunito:wght@300;400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap");
* {
  box-sizing: border-box;
}

body {
  font-family: "Jua", sans-serif;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}
.checked {
  color: gray;
  text-decoration: line-through;
}
.hidden {
  display: none;
}
.btn {
  color: gray;
  margin-left: 10px;
  transition: all 0.2s ease-in-out;
}
.btn:hover {
  color: white;
}

/* Weather */
.weather {
  position: absolute;
  right: 1vw;
  top: 1vh;
  display: grid;
  grid-row-gap: 10px;
  grid-template-columns: 58px 93px;
  grid-template-rows: 25px 25px;
  grid-column-gap: 0.1vw;
  text-align: center;
  font-size: 17px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  padding: 0.2rem;
  color: black;
  place-items: center;
}
.weather-icon {
  width: 2rem;
}

/* Day, Clock */
.top {
  margin-top: 24vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 60px;
}
#day {
  margin-bottom: 2vh;
}
#clock {
  font-size: 180px;
}

/* Name, Main Focus */
.center {
  display: flex;
  margin-top: 20px;
  flex-direction: column;
  align-items: center;
}
.name {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2vh;
}
#nameForm {
  font-size: 36px;
}
#nameInput {
  margin-left: 1.5rem;
  font-size: 36px;
  width: 40%;
  text-align: center;
}
.greeting-box {
  font-size: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#userName {
  margin-left: 15px;
}
#removeName {
  padding: 10px;
  font-size: 20px;
}
.focus {
  font-size: 36px;
}
.focusFormBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

#focusInput {
  margin-top: 2vh;
  font-size: 36px;
  text-align: center;
  width: 100%;
}
.focus-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1vh;
}
.focus-box > div:first-child {
  font-size: 27px;
}
.focus-text {
  margin-top: 2.5vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#focus {
  margin-left: 15px;
}
#removeFocus {
  padding: 10px;
}
.cong {
  font-size: 15px;
  color: yellowgreen;
  font-weight: bold;
  margin: 0 10px;
}

/* Calendar*/
.calendar {
  position: absolute;
  bottom: 1vh;
  left: 1vw;
  width: 380px;
}
#calBtn {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 15px;
  height: 35px;
  border-radius: 10px;
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.calendar-container {
  visibility: hidden;
  opacity: 0;
  transform: translateY(5vh);
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 16px;
  color: whitesmoke;
  font-size: 18px;
  padding: 15px;
  transition: all 0.2s ease-in-out;
}

.calendar-top {
  display: flex;
  padding-bottom: 17px;
  justify-content: space-around;
  align-items: center;
}

.date {
  text-align: center;
  cursor: default;
}

.month {
  font-weight: 700;
  font-size: 1.6em;
  color: powderblue;
}
.date p {
  font-size: 0.9em;
  font-weight: 400;
  color: whitesmoke;
}
.prev-month,
.next-month {
  cursor: pointer;
  color: powderblue;
  width: 30px;
  height: 30px;
  text-align: center;
  padding-top: 5px;
  transition: 0.2s;
}
.prev-month:hover,
.next-month:hover {
  padding-right: 8px;
}

.calendar-days {
  display: flex;
  justify-content: space-between;
  font-size: 15px;
  color: thistle;
  cursor: default;
}
.calendar-days div {
  width: calc(350px / 7);
  text-align: center;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}
.calendar-date {
  display: flex;
  font-size: 1em;
  flex-wrap: wrap;
  color: whitesmoke;
  cursor: default;
}

.calendar-date div {
  width: calc(210px / 7);
  height: calc(210px / 7);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin: 10px;
}

.calendar-date div:hover,
.calendar-date div:active,
.calendar-date div:focus {
  background-color: teal;
  color: rgb(240, 240, 240);
  cursor: pointer;
}

.clicked {
  background-color: teal;
  color: rgb(240, 240, 240);
}
.today {
  background-color: tomato;
  color: #fff;
}

.prev-date,
.next-date {
  color: rgba(255, 255, 255, 0.5);
}

.todo {
  position: absolute;
  right: 1vw;
  bottom: 1vh;
}
.todo > div:last-child {
  float: right;
}
#todoBtn {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 15px;
  height: 35px;
  border-radius: 10px;
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.todo-list {
  width: 380px;
  height: 418px;
  visibility: hidden;
  opacity: 0;
  transform: translateY(5vh);
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 20px;
  padding: 15px;
  font-size: 22px;
  overflow: auto;
  transition: all 0.2s ease-in-out;
}
.todo-list > div {
  margin-bottom: 10px;
}
#todoInput {
  font-size: 22px;
  width: 90%;
}
.todo-btn {
  margin-right: 5px;
  font-size: 15px;
}
.todo-li {
  padding: 10px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
/* Quote */
.quote {
  position: absolute;
  bottom: 1vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 17px;
}
.quote-text {
  margin-bottom: 11px;
}
.quote-author::before {
  content: "- ";
}
.quote-author::after {
  content: " -";
}

.bgImg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.show {
  transform: none;
  opacity: 1;
  visibility: visible;
}

.activeBtn:active {
  transform: scale(0.9);
}
